@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500&display=swap');
/*
**
    CREATED BY
         MUHAMMAD HASNAIN
    FOLLOW 
        https://github.com/mhgkhan
    MY STATIC PORTFOLIO
        https://mhgkhan.github.io/hasnain.dev
    BUGS 
        1. CHECK LINE#  247
**
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rethink Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
}

section {
    margin-top: 4rem;
    background: linear-gradient(310deg, #025166, #7478b7);
    width: 100%;
}


/* please add or use the utility classes here! I done but it but very hardcode it sorry */



section .container {
    width: 85%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


section .container .left {
    position: relative;
    width: 40%;
}


section .container .left img {
    width: 95%;
    height: 95%;
    border-radius: 7px;
    margin: 3rem auto;
    display: block;
    position: relative;
}


section .container .left .block {
    position: absolute;
    width: 160px;
    height: 190px;
    background: white;
    border-radius: 10px;
    top: -20%;
    left: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 4px darkgray;
}

.block1 {
    width: 250px !important;
    left: -20% !important;
    padding: 10px;
    height: auto !important;
}

.block1 .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.block1 .head h4 {
    font-weight: 500;
}

.block1 .loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px auto;
}

.block1 .loader .icn_loader {
    font-size: 1.4rem;
    border: 1px solid cyan;
    border-radius: 100px;
    background: cyan;
    padding: 3px;
}

.block1 .loader .progress_container {
    width: 100%;
    padding: 3px 6px;
}

.block1 .loader .progress_container h4 {
    font-weight: 400;
    margin: 0px 5px;
}

.block1 .loader .progress_container .load {
    margin: 5px;
    width: 100%;
    height: 7px;
    border-radius: 50px;
    background: black;
}

.block1 .loader .progress_container .load .area {
    width: 80%;
    height: 100%;
    background: cyan;
}











section .container .left .block2 {
    top: 75%;
    left: 75%;
}

.block2 .icn {
    font-size: 2.5rem;
}

.block2 .count {
    font-size: 1.1rem;
    font-weight: bolder;
}














section .container .right {
    width: 55%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



section .container .right h2 {
    font-weight: 700;
    line-height: 48px;
    font-size: 2rem;
    color: white;
    width: 100%;
    text-align: center;
}

section .container .right .fhed {
    padding: 0px 20px;
    letter-spacing: .1rem;
}


section .container .right .shed {
    word-spacing: 3px;
}


section .container .right .shed span {
    color: #a0ceff;
}


section .container .right .fpera {
    margin: 1.5rem auto;
    color: #e7d7d7f7;
    text-align: left;
    width: 95%;
}

section .container .right .buttons {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: .6rem auto;
}

section .container .right .buttons button {
    width: 110px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    padding: 8px 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background: none;
    cursor: pointer;
}

section .container .right .buttons button:first-child {
    background: linear-gradient(310deg, #0d0e51, #3a53db, #2fffff);
}

section .container .right .buttons button:hover {
    background: linear-gradient(310deg, #0d0e51, #3a53db, #2fffff);
}

/* it is not working....  please fix it ... */
/* .buttons button :hover.buttons button:first-child {
    background: none;
} */

.right .spera {
    background: #100878;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    line-height: 25px;
    margin: .8rem auto;
    width: 95%;
}










@media screen and (max-width:1050px) {
    .container {
        width: 99% !important;
    }

    .left .block1 {
        left: 5% !important;
    }

    .left .block2 {
        left: 70% !important;
    }
}





@media screen and (max-width:850px) {
    .container {
        flex-direction: column;
        width: 70% !important;
        gap: 10px !important;
    }

    .container .left {
        margin: 2rem auto !important;
    }

    .container .left,
    .container .right {
        width: 100% !important;
    }
}





@media screen and (max-width:700px) {
    html {
        font-size: 75%;
    }

    .container {
        margin-top: 5rem !important;
    }
}





@media screen and (max-width:650px) {
    .container {
        width: 100% !important;
    }

    .block {
        height: auto !important;
    }

    .container .left .block2 {
        left: 50% !important;
    }
}




@media screen and (max-width:400px) {

    /* html{font-size: 70% ;} */
    section .container .left .block2 {
        left: 10% !important;
    }

    .right {
        padding: 10px !important;
    }

    .right h2 {
        line-height: 30px !important;
    }

    .right .buttons {
        justify-content: center !important;
    }

    .right .fhed,
    .right .shed {
        padding: 8px !important;
    }

    .right .fpera,
    .right .spera,
    .right .buttons {
        width: 100%;
        padding: 6px;
    }
}



